*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  background-color: #121212;
  height: 100vh;
    display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(242, 244, 245);
}
form{
  width: 50%;
  border-radius: 5px;
  background-color: rgb(255,255, 255);
  padding: 40px;
}
h1{
  text-align: center;
  letter-spacing: 3px;
  color: rgb(32, 32, 161);
  color: rgb(85, 101, 112);
  margin-bottom: 30px;
}
input[type=text],input[type = password]{
  margin:10px auto ;
  display: block;
  width: 60%;
  height: 40px;
  border: 3px solid rgba(166, 185, 193, 1);
  border-radius: 4px;
  outline: none;
  padding: 5px;
  font-size: 12px;
}
button{
  background-color: rgba(70, 91, 104, 1);
  color:white ;
  border: 1px solid black;
  width: 60%;
  display: block;
  margin: auto;
  height: 40px;
  letter-spacing: 2px;
  font-weight: 600;
  border-radius: 4px;
}
label{
  font-size: 10px;
  margin-left: 20%;
  display: block;

}
.err{
  text-align: center;
  font-size: 9px;
  margin: 5px auto;
  letter-spacing: 1px;
  color: red;
  display: none;
  width: 60%;
}